:root
{
font-family:'Montserrat Alternates', sans-serif;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:'Montserrat Alternates', sans-serif;
    background: #f1f1f1;
}

/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: #333;
    position: fixed;
    top: 0;
    left: -300px;
    border-right: 2px dashed #15ff00;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

/************************ HOME SECTION **********************/
.accueil {
    background: url(ressources/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: 90px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2 {
    background: transparent;
    border: 2px solid #333;
}
.icone-medias {
    width: 50px;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}
