*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    float: right;
    background-color: #FFFDF7;
}

/*  <!-- Navigation verticale / Left Fixed Navbar --> */

.nav-gauche {
    width: 260px;
    min-height: 700px;
    background:#0A2342;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px dashed black;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-menu-item :hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: black;
    color: white;
   
}

.boutons-accueil :hover {
    color: white;
}


.bloc.photo{
    grid-template-columns: d;
}

.bloc-items{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    gap: 20px;
    justify-content: space-around;
    margin: 20px 20px;
}

.blocs-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Anton', sans-serif;
}


.bloc-contact{
    flex-grow: 1;
}

/************************ HOME SECTION **********************/

.accueil {
    background-image: url(/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px + 50px);
    margin-left: auto;
    position: relative;
}

.presentation{
    background-color: #FFFDF7;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px + 50px);
    position: relative;
    margin-left: auto;
    border: 3px solid black;
    font-family: 'Ubuntu', sans-serif;

}

.ragraf{
    padding-top: 40px;
    font-size: 24px;
    margin: 30px 0 0 0;
}

.current{
    text-decoration: underline;
    padding-top: 20px;
    font-size: 26px;
    margin-left: 50px;
    font-weight: bold;
}

.pres-gauche{
    margin-right: 100px;
    padding-top: 40px;
    margin-left: 50px;
    line-height: 1.3;
    font-size: 24px;
}

.liste-presentation {
    padding-top: 40px;
    margin-left: 50px;
    list-style-type: circle;
    text-indent: 30px;
    line-height: 1.4;
    font-size: 23px;
}

h1 {
    font-size: 90px;
    font-family: 'Oswald', sans-serif;
    margin: 0 100px;
    padding-top: 210px;
}

h2 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 50px;
    text-decoration: underline overline;
    text-align: center;
}

.txt-animation {
    font-size: 20;
    margin: 10px 0 10px 60px;

}

.boutons-accueil{
    margin: 60px 0 0 50px;
    border-radius: 2px;
    font-size: 20px;
}


.btn-acc1 {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    border: 3px solid black;
    font-weight: 800;
    color: black;  
    background: transparent;
}

.btn-acc2 {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    background: transparent;
    border: 3px solid black;
    color: black;
    font-weight: 800;
}


.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 35px;
    size: 200px;
}

.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media2 {
    background: transparent;
    border: 2px solid #333;
}

.icone-medias {
    width: 30px;
}

.img-medias{
    width: 600px;
    padding-top: 30px;
    float: left;
}

.img-medias2{
    width: 300px;
    float: right;
    margin-right: 180px;
}

.btn-rond {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: black;
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}

.logo-btn-rond-acc {
    width: 35px;
}



.section-experiences{
    background-color: #FFFDF7;
    width: calc(100% - 260px) ;
    margin-left: 300px;   
    height: 600px; 
    border: 2px solid #333;

}


.pres-experiences{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 60px;
    font-size: 28px;

}

.titre3{
    font-size: 34px;
    font-weight: bold;
}

.img-medias2{
    position: absolute;
    margin-left: -150px;
    width: 340px;
}




/* Portfolio */

.portfolio{
    margin-left: 270px;
    border: 2px solid #333;

}

.cont-portfolio{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;

}

.item{
    border: 3px solid black;
    display: flex;    
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.item p{
    text-align: center;
}


.btn-projets{
    font-weight: bold;
}




/* SKILLS */

.section-range{
    height: 580px;
}

.grille-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #FFFDF7;
    margin-left: 270px;
    font-weight: bold;
    font-size: 22px;
}

.skills-column1{
    grid-row: 1/3;
}

.skills-column2{
    grid-column: 2;
}

.img-medias3{
    width: 300px;
    
}


/* CONTACT */

.section-contact{
    background-color: #FFFDF7;
    height: 800px;
}

.container-form{
    background-color: #FFFDF7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-bloc{
   
    color: black;
    margin: 14px;
    padding: 15px;
    
}

.form-groupe{
    display: flex;
    flex-direction: row;
    position: relative;
}

.form-groupe label{
    font-size: 30px;
}

.form-groupe input{
    width: 800px;
}

.button-sub{
    background-color: white;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 50%;
    width: 200px;
}



/* EXPERIENCES */

.flex-cont-bloc-exp{
    display: block;
}
