*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior:smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFDF7;
    float: right;

}

/*  <!-- Navigation verticale / Left Fixed Navbar --> */

.nav-gauche {
    width: 250px;
    background:#0A2342;
    background-position: right;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px dashed black;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-weight: bold;
    height: 702px;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-menu-item :hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: black;
    color: white;
   
}

.boutons-accueil :hover {
    color: white;
}




.bloc-items{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    gap: 20px;
    justify-content: space-around;
    margin: 20px 20px;
}

.blocs-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Anton', sans-serif;
}


.bloc-contact{
    flex-grow: 1;
}

/************************ HOME SECTION **********************/

.accueil {
    background-image: url(/images/background-portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100%;
    
}

.presentation{
    background-color: #dfdfdf;
    min-height: 900px;
    width: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    height: 500px;

}

.ragraf{
    padding-top: 40px;
    font-size: 24px;
    margin: 30px 0 0 0;
}

.current{
    text-decoration: underline;
    padding-top: 20px;
    font-size: 26px;
    margin-left: 50px;
    font-weight: bold;
}

.pres-gauche{
    margin-right: 100px;
    padding-top: 40px;
    margin-left: 300px;
    line-height: 1.3;
    font-size: 24px;
}

.liste-presentation {
    padding-top: 40px;
    margin-left: 50px;
    list-style-type: circle;
    text-indent: 30px;
    line-height: 1.4;
    font-size: 23px;
}

h1 {
    font-size: 90px;
    font-family: 'Oswald', sans-serif;
    padding-top: 210px;
    margin-left: 40px;
}

h2 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}

.txt-animation {
    font-size: 20;
    margin: 10px 0 10px 60px;

}

.boutons-accueil{
    margin: 60px 0 0 50px;
    border-radius: 2px;
    font-size: 20px;
}


.btn-acc1 {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    border: 3px solid black;
    font-weight: 800;
    color: black;  
    background: transparent;
}

.btn-acc2 {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    background: transparent;
    border: 3px solid black;
    color: black;
    font-weight: 800;
}


.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 35px;
    size: 200px;
}

.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media2 {
    background: transparent;
    border: 2px solid #333;
}

.icone-medias {
    width: 30px;
}

.img-medias{
    width: 600px;
    padding-top: 30px;
    float: left;
}

.img-medias2{
    width: 300px;
    float: right;
    margin-right: 180px;
}

.btn-rond {
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: black;
    animation: pulse 1.3s infinite;
    margin-top: 240px;
    margin-left: 40px;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}

.logo-btn-rond-acc {
    width: 35px;
}



.section-experiences{
    background-color: #FFFDF7;
    width: 100%;
    height: 600px; 
}

.pers-bref{
    font-size: 32px;
}

.pres-experiences{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: space-around;
    position: relative;
    margin-left: 320px;
    margin-top: 50px;
    font-size: 28px;

}

.titre3{
    font-size: 34px;
    font-weight: bold;
}

.img-medias2{
    width: 340px;
    margin-left: 50px;

}




/* Portfolio */

.portfolio{
    background-color: #dfdfdf;
    height: 1000px;

}

.cont-portfolio{
    margin-left: 250px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;

}

.item{
    display: flex;    
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.item p{
    text-align: center;
}

.cont-img-port{
    width: 300px;
    height: 300px;
}

.btn-projets{
    font-weight: bold;
}




/* CONTACT */

.section-contact{
    background-color: #FFFDF7;
    height: 500px;
}

.container-form{
    background-color: #FFFDF7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-bloc{
    color: black;
    margin: 15px;
    padding: 15px;  
}

.form-groupe label{
    font-size: 30px;
}

.form-groupe input{
    width: 800px;
}

textarea{
    width: 800px;
    height: 150px;
}
.button-sub{
    background-color: white;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 50%;
    width: 200px;
}



/* EXPERIENCES */

.travail-exp{
    background-color: #dfdfdf ;
    height: 700px ;
}

.cont-exp-travail{
    margin-left: 250px;
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin-right: 25px;

}

.barre-verticale{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenu-bloc{
    justify-content: space-between;
}

.boule-ico{
    border: 3px solid black;

}

.bloc-bloc {
    margin-top: 20px;
    margin-bottom: 70px;
}

.titre-section-bloc{
    font-weight: bold;
    font-size: 24;
    margin-bottom: 5px;
}




/* SKILLS */

.section-range{
    height: 600px;
}

.grille-skill{
    background-color: #FFFDF7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-left: 330px;
    height: 300px;
    font-weight: bold;
    font-size: 22px;
    column-gap: 20px;
}

.range-cont{
    position: relative;
}

.barre-grises{
    background-color: rgb(211, 211, 211);
    height: 40px;
    width: 500px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}

.barre-skill{
    background-color: black;
    position: absolute;
    border-radius: 15px;
    height: 40px;
    z-index: 10;
}

.b1{
    width: 360px;
}

.b2{
    width: 320px;
}

.b3{
    width: 300px;
}

.b4{
    width: 240px;
}

.b5{
    width: 200px;
}

.b6{
    width: 280px;

}




@media screen and (max-width: 575px){

/* ACCUEIL*/

    .body{
        margin: 0px;
        padding: 0px;
    }

    .nav-gauche{
        height: 814px;
    }
    .accueil{
        position:relative;
        width:100%;
        background-position: bottom;
    
    }

    h1{
        font-size: 45px;
        text-align: center;
        margin-left: 53%;
    }

    .boutons-accueil{
        margin-left: 62%;
    }

    .medias{
        position: relative;
        margin-left: 58%;

    }

/*ABOUT ME*/

    .presentation{
        width:100%;
        background-color: #dfdfdf;
        height: 1100px;

    }

    .pres-gauche{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 18%;

    }
    .titre-pres{
        margin-left: 30%;
        margin-bottom: -70px;
    }

    .pres-bref{
        text-align: center;
    }

    .img-medias{
        width: 510px;
    }
    .container-presentation{
        margin-left: 22%;
    }

    .btn-rond{
        position: relative;
        top: -30px;
    }

    .container-presentation{

    }

    .pres-gauche .pres-bref{
        margin-top: 80px;
        font-size: 22px ;

    }

    .ragraf{
        font-size: 21px;
        text-align: center;
    }

/*WHAT I DO*/

    .titreido{
        text-align: center;
        margin-left: 30%;
    }

    .section-experiences{
        background-color: #FFFDF7;
        width: 100%;
        height: 1130px; 

    }

    .pres-experiences { 
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .exp-left{
        margin-top: 20px;
    }

    .exp-center{
        margin-top: 30px;
        margin-left: 30px;
    }
    
    .exp-right{
        margin-top: 40px
    }

/*MY PROJECTS*/
    
    .portfolio{
        height: 2450px;
    }

    .titre-port{        
        margin-left: 30%;
    }

    .cont-portfolio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
        

/*SKILLS*/

    .titre-exp{
        margin-left: 30%;
    }

    .section-range{
        height: 760px;
    }

    .grille-skill{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 39%;
    }
/*EXPERIENCES*/

    .travail-exp{
        width: 100%;
        height: 760px;    
    }

    .cont-exp-travail{
        width: 100%;
        position: relative;
        margin-right: 20px;
    }

    .titre-travail-exp{
        position: relative;
        margin-left: 38%;
    }

    .barre-verticale{
        position: relative;
        margin-left: 45%;
    }

    .bloc-bloc {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 54px;
        position: relative;
        font-size: 12;
    }

    .flex-cont-bloc-exp{
        margin-left: 10px;
        width: 55%;
    }

    .txt-section{
        font-size: 14px;
    }
    .section-contact{
    }

    .container-form{
    }

    .form-groupe{
        width: 10px;

    }

    .staytouch{
        font-size: 40px;
        margin-left: 30%;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {


    .nav-gauche {
        width: 200px;
        background:#0A2342;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-content: center;
        align-items: center;
        height: 800px;
  
    }

       
    /* ACCUEIL */

    h1{
        margin-top: 50px;
        font-size: 70px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    .accueil{
        margin-top: -65px;
        background-position: bottom;
        height: 800px;
    }



    .pres-gauche {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        justify-content: center;  
        height: 700px;
    }
    
    .img-medias {
        width:50%;

    }

    .medias{
        display:flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
    }

    

    .boutons-accueil{
        position:relative;
        left: 10%;
        top: 20%;
        color: #dfdfdf;
    }


    .medias{
        position: relative;
        top: 20%;
        right: 40%
    }

    .btn-rond{
        position: relative;
        top: 7%;
        left: 76%;
    }

    .titre-accueil{
        font-size: 40px;
        right: 20%;
    }
    
   

    /* ABOUT ME */ 

    .pres-bref{
        font-size: 22px;
    }

    /*WHAT I DO*/

    .section-experiences{
        background-color: #FFFDF7;
        width: calc(100% - 260px) ;
        height: 1100px; 
    
    }
    
    
    .pres-experiences{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        font-size: 24px;
        align-content: space-between;
        justify-content: space-between;

    }

    .img-medias2{
        size: 200px;
        margin-left: 150px;
        margin-bottom: 50px;
        margin-top: -80px;
    }

    /*PORTFOLIO*/
    
    .portfolio{
        height: 2500px;
        background-color: #FFFDF7;
    }

    .cont-portfolio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        grid-row-gap: 30px;
        
    
    }
    
    .item{
        display: flex;    
        flex-direction: column;    
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }
    
    .item p{
        text-align: center;
    }
    
    .cont-img-port{
        size: 150px;
    }

    .btn-projets{
        font-weight: bold;
    }
    
    



    /*GRILLE SKILLS*/

    .section-range{
        height: 780px;
        background-color: #dfdfdf;
        position: relative;
        
    }

    .titre-exp{
        text-align: center;

    }

    .grille-skill{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        background-color: aqua;

    }


    /* EXPERIENCES */

    .travail-exp{
        background-color: #FFFDF7;
    }

    .cont-exp-travail{
      background-color: #FFFDF7;  
    }

    .bloc-bloc {
        margin-top: 20px;
        margin-bottom: 52px;
    }



    /* CONTACT */

    .section-contact{
    margin-left: 20%;
    background-color: #dfdfdf ;

    }


    .form-bloc{
        color: black;
        margin: 14px;
        padding: 15px;
        
    }
    
    .form-groupe{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 5%;
        
    }

    .container-form{
        background-color: #dfdfdf;
    }
    
    .staytouch{
        text-align: center;
    }
    .form-groupe label{
        font-size: 30px;
    }
    
    .form-groupe input{
        width: 600px;
    }

    textarea{
        max-width: 600px;
    }

    .button-sub{
        background-color: white;
        color: black;
        font-weight: bold;
        position: absolute;
        left: 40%;
        width: 100px;
    }

}




@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FFFDF7;
    }

    .nav-gauche {
        width: 200px;
        background:#0A2342;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-content: center;
        align-items: center;
        height: 650px;
  
    }

       
    /* ACCUEIL */

    h1{
        margin-top: 50px;
        font-size: 70px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
        width: 100%
    }

    .accueil {
        position: relative;
        width: 100%;
        margin-top: -100px;
        height: 700px;
    }

    .pres-gauche {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        justify-content: center;  
        height: 700px;
    }
    
    .img-medias {
        width:50%;

    }

    .medias{
        display:flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
    }

    

    .boutons-accueil{
        position:relative;
        right: 20px;
        color: #dfdfdf;
        size: 120%;
        top: 20px;
    }


    .medias{
        position: relative;
        right: 76%;
        top: 20px;
    
    }

    .btn-rond{
        position: relative;
        bottom: 30px;
        left: 30px;
    }

    .titre-accueil{
        font-size: 40px;
        right: 20%;
    }
    
   

    /* ABOUT ME */ 

    .presentation{
        margin:0;
        width:100%;

    }

    .pres-bref{
        font-size: 22px;
    }

    /*WHAT I DO*/

    .titreido{
        margin-left: 40%;
    }

    .section-experiences{
        background-color: #FFFDF7;
        width: calc(100% - 260px) ;
        height: 1100px; 
    
    }
    
    .pres-experiences{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        font-size: 24px;
        align-content: space-between;
        justify-content: space-between;

    }

    .img-medias2{
        size: 300px;
        margin-left: 180px;
        margin-bottom: 50px;
        margin-top: -80px;
    }

    .exp-left{
        margin-left: 40%;
    }

    .exp-right{
        margin-top: 20px;
        margin-left: 40%;
    }
    /*PORTFOLIO*/
    
    .portfolio{
        margin:0px;
        width: 100%;
        height: 1420px;
        background-color: #FFFDF7;
    }

    .cont-portfolio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-row-gap: 30px;
    
    }
    
    .item{
        display: flex;    
        flex-direction: column;    
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }
    
    .item p{
        text-align: center;
    }
    
    .cont-img-port{
        size: 150px;
    }

    .btn-projets{
        font-weight: bold;
    }


    /*GRILLE SKILLS*/

    .section-range{
        height: 780px;
        background-color: #dfdfdf;
        margin:0px;
        width: 100%;


    }

    .titre-exp{
        text-align: center;

    }

    .grille-skill{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #dfdfdf;
        position: relative;
        right: 20%;
    }


    /* EXPERIENCES */

    .travail-exp{
        margin: 0;
        width: 100%;
        background-color: #FFFDF7;
        height: 800px;
    }

    .cont-exp-travail{
      background-color: #FFFDF7;  
      position: relative;
      right:16%;
    }

    .flex-cont-bloc-exp{
       
    }

    .bloc-bloc {
        margin-top: 8px;
        margin-bottom: 39px;
    }

    .section-contact{
        margin:0;


    }



    /* CONTACT */

    .section-contact{
    background-color: #dfdfdf ;

    }


    .form-bloc{
        color: black;
        margin: 14px;
        padding: 15px;
        
    }
    
    .form-groupe{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 5%;
        
    }

    .container-form{
        background-color: #dfdfdf;
    }
    
    .staytouch{
        text-align: center;
    }
    .form-groupe label{
        font-size: 30px;
    }
    
    .form-groupe input{
        width: 600px;
    }

    textarea{
        max-width: 600px;
    }

    .button-sub{
        background-color: white;
        background-position-x: center;
        background-size: cover;
        color: black;
        font-weight: bold;
        position: absolute;
        left: 40%;
        width: 100px;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {



       
    /* ACCUEIL */

    .accueil{
        height: 970px;
       
    }

    .titre-accueil{
        margin-top: -50px;
    }

    /* ABOUT ME */ 

    .presentation{
        height: 1100px;
    }

    .container-presentation{
        margin-left: 40px;
    }

    .ragraf{
        font-size: 22px;
    }



    /*WHAT I DO*/

    .section-experiences{
        width:100%;
        height: 1050px;
        border-bottom: #000;
    }

    .pres-experiences{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        font-size: 24px;
        align-content: space-between;
        justify-content: space-between;
    }

    .img-medias2{
        margin-top: -80px;
        margin-left: 50px;
        margin-bottom: 50px;
    }


    /*PORTFOLIO*/
    
    .portfolio{
        margin:0px;
        width: 100%;
        height: 1350px;
        background-color: #dfdfdf;
    }

    .cont-portfolio{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-row-gap: 10px;
        margin-left: 26%;
    
    }

    .titre-port{
        margin-left: 30%;
    }

    /*GRILLE SKILLS*/


    .section-range{
        height: 860px;
    }
    
    .titre-exp{
        margin-left: 20%;
        margin-bottom: 20px;
    }
    .grille-skill{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        height: 300px;
        margin-left: 40%;
        font-weight: bold;
        font-size: 22px;
        column-gap: 20px;
        row-gap: 20px;
    }
    
    .range-cont{
        position: relative;
    }
    
    .barre-grises{
        background-color: rgb(211, 211, 211);
        height: 40px;
        width: 400px;
        border: 2px solid black;
        border-radius: 15px;
        position: relative;
        column-gap: 40px;
    }
    
    .barre-skill{
        background-color: black;
        position: absolute;
        border-radius: 15px;
        height: 40px;
        z-index: 10;
    }
    
    .b1{
        width: 360px;
    }
    
    .b2{
        width: 320px;
    }
    
    .b3{
        width: 300px;
    }
    
    .b4{
        width: 240px;
    }
    
    .b5{
        width: 200px;
    }
    
    .b6{
        width: 280px;
    
    }


    /* EXPERIENCES */

    .titre-travail-exp{
        margin-left: 21%;
    }

    .barre-verticale{
        margin-left: 10px;
    }

    .flex-cont-bloc-exp{
        margin-left: 10px;
    }

    /* CONTACT */

    .section-contact{
        height: 540px;
    }

    .container-form{
        margin-left: 30%;

    }
    .form-bloc{
        color: black;
        margin: 14px;
        padding: 15px;
        
    }

    .form-groupe input{
        width: 400px;
    }

    textarea{
        max-width: 400px;
    }

    .staytouch{
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {


   /*NAVBAR*/

   .nav-gauche{
       height: 814px;
   }

    /*ACCUEIL*/

    .accueil{
        width: 60%;
    }

    .btn-rond{
        margin-top: 15%;
    }

    /*ABOUT ME */

    .presentation{
        width: 60%;


    }

    /*WHAT I DO*/

    .section-experiences{

    }

    .titreido{
        margin-left: 40%;
    }

    .exp-left{
        margin-left: 500px;
        
    }

    .exp-center{

    }

    .img-medias2{
        width:280px;
    }

    .exp-right{
    

    }


    /*PROJECTS*/

    .portfolio{

    }

    .titre-port{
        margin-left: 30%;

    }

    .cont-portfolio{
        margin-left: 42%;
        grid-column-gap: 15px;

    }

    /*SKILLS*/

    .section-range{
     
    }
    
    .titre-exp{
        margin-left: 40%;
        margin-bottom: 20px;
    }
    .grille-skill{
        height: 300px;
        margin-left: 47%;
        font-weight: bold;
        font-size: 22px;
        column-gap: 20px;
        row-gap: 30px;
    }
    
    .range-cont{
        position: relative;
    }
    
    .barre-grises{
        background-color: rgb(211, 211, 211);
        height: 40px;
        width: 400px;
        border: 2px solid black;
        border-radius: 15px;
        position: relative;
        column-gap: 40px;
    }
    
    .barre-skill{
        background-color: black;
        position: absolute;
        border-radius: 15px;
        height: 40px;
        z-index: 10;
    }
    
    .b1{
        width: 360px;
    }
    
    .b2{
        width: 320px;
    }
    
    .b3{
        width: 300px;
    }
    
    .b4{
        width: 240px;
    }
    
    .b5{
        width: 200px;
    }
    
    .b6{
        width: 280px;
    
    }

    /*EXPERIENCE*/

    .cont-exp-travail{
        margin-left: 39%;
    }

    .titre-travail-exp{
        margin-left: 30%;
    }

    /*CONTACT*/

    .section-contact{

    }

    .staytouch{
        margin-left: 50%;
    }

    .container-form{
        margin-left: 40%;

    }

}


@media only screen and (min-width: 1400px){

    .btn-rond{
        margin-top: 12%;
    }

    .nav-gauche{
        height: 814px;
    }

    .titre-port{
        margin-left: 15%;

    }


  
    .staytouch{
        margin-left: 15%;
    }

    .container-form{
        margin-left: 15%;

    }

    .titreido{
        margin-left: 20%;
    }

    .titre-exp{
        margin-left: 20%;

    }

    .titre-travail-exp{
        margin-left: 20%;
    }
}